<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Return Order Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:azure;">
    <header style="background-color: black; color: antiquewhite; margin: 0px; width: 100%; padding: 0px;">
        <nav style="background-color: black; color: antiquewhite; margin: 0px; padding: 0px;" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div style="background-color:black; color:antiquewhite; margin: 0px; padding: 10px;" class ="container">
                <a style="background-color:black; color:lawngreen;" class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Login">&nbsp;&nbsp;&nbsp;<b>Return Order Management System</b></a>               
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:black; color:white;" class="border-top footer ">
        <div class="container">
            &copy; 2022 - <b>Return Order Management System</b>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
