@model MVC_UI.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #6abadeba;
       
        font-family: 'Arial';
    }

    /*.login:hover {
        opacity: 1.0;
    }*/

    .login {
        opacity: 1.0;
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20px 0 0 350px;
        padding: 70px;
        background-color: lightskyblue;
        background-blend-mode: soft-light;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
        color: #277582;
        padding: 20px;
    }

    label {
        color: black;
        font-size: 17px;
    }

    #Uname {
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
    }

    #Pass {
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
    }

    #log {
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }

    span {
        color: red;
        font-size: 17px;
    }

    a {
        float: right;
        background-color: grey;
    }
</style>
<br />
<br />
<center>
    <div class="row">
        <div style="padding: 10px 50px 10px 50px; margin:auto;" class="col-md-4 login">
            <form asp-action="Create">
                <h1 style="color: black;" class="font-weight-bold">Register</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <p style="color:red;"><b>@ViewBag.Message</b></p>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>            
        </div>
    </div>
</center>

@if (ViewBag.Message == "Success")
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
        window.setTimeout(window.location.href = "https://localhost:44377", 1000);
    </script>
}

@if (ViewBag.Message == "User already exists")
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
